@import 'tailwindcss';

@themes {
  /* Colors */
  --color-*: initial;
  --color-default-clr: oklch(0 0 0);
  --color-light-clr: oklch(1 0 0);
  --color-primary-clr: oklch(0.6883 0.2064 41.53);
  --color-text-default-clr: var(--color-default-clr);
  --color-text-light-clr: var(--color-light-clr);
  --color-text-muted-clr: oklch(0.9731 0 0);

  /* Font Family */
  --font-*: initial;
  --font-pp-neue-montreal: var(--font-pp-neue-montreal);

  /* Line Height */
  --leading-*: initial;
  --leading-large: 120%;
  --leading-medium: 130%;
  --leading-small: 150%;

  /* Font Size */
  --text-heading-x-large: clamp(5.375rem, 2.1964rem + 15.8929vw, 16.5rem);
  --text-heading-large: clamp(6rem, 3.3214rem + 13.3929vw, 15.375rem);
  --text-heading-medium: clamp(6rem, 5.4286rem + 2.8571vw, 8rem);
  --text-heading-small: clamp(2.25rem, 2.0357rem + 1.0714vw, 3rem);
  --text-heading-1: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
  --text-heading-2: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);
  --text-heading-3: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
  --text-heading-4: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
  --text-heading-5: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --text-heading-6: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);

  --text-fs-default: clamp(0.9375rem, 0.9196rem + 0.0893vw, 1rem);
  --text-fs-small: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);

  /* Font Weight */
  --font-weight-*: initial;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Container */
  --container-large: 95rem;
  --container-medium: 64rem;
  --container-small: 48rem;
}

@utility container {
  @apply mx-auto px-6;

  @variant md {
    @apply max-w-[var(--container-small)] px-8;
  }

  @variant lg {
    @apply max-w-[var(--container-medium)] px-0;
  }

  @variant xl {
    @apply max-w-[var(--container-medium)] px-0;
  }

  @variant 2xl {
    @apply max-w-[var(--container-large)] px-0;
  }
}

@layer Base {
  body {
    @apply bg-light-clr font-pp-neue-montreal font-regular text-text-light-clr overflow-x-hidden;
  }
}
