@import 'tailwindcss';

@theme {
  /* Colors */
  --color-*: initial;
  --color-dark-clr: oklch(0 0 0);
  --color-light-clr: oklch(1 0 0);
  --color-primary-clr: oklch(0.6883 0.2064 41.53);
  --color-text-default-clr: var(--color-dark-clr);
  --color-text-light-clr: var(--color-light-clr);
  --color-text-muted-clr: oklch(0.9731 0 0);

  /* Font Family */
  --font-*: initial;
  --font-pp-neue-montreal: var(--font-pp-neue-montreal);

  /* Line Height */
  --leading-*: initial;
  --leading-large: 120%;
  --leading-medium: 130%;
  --leading-small: 150%;

  /* Font Size */
  --text-heading-x-large: clamp(5.375rem, 2.1964rem + 15.8929vw, 16.5rem);
  --text-heading-large: clamp(6rem, 3.3214rem + 13.3929vw, 15.375rem);
  --text-heading-medium: clamp(6rem, 5.4286rem + 2.8571vw, 8rem);
  --text-heading-small: clamp(2.25rem, 2.0357rem + 1.0714vw, 3rem);
  --text-heading-1: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);
  --text-heading-2: clamp(2rem, 1.8571rem + 0.7143vw, 2.5rem);
  --text-heading-3: clamp(1.5rem, 1.2857rem + 1.0714vw, 2.25rem);
  --text-heading-4: clamp(1.25rem, 1.0357rem + 1.0714vw, 2rem);
  --text-heading-5: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  --text-heading-6: clamp(1rem, 0.9643rem + 0.1786vw, 1.125rem);

  --text-default: clamp(0.9375rem, 0.9196rem + 0.0893vw, 1rem);
  --text-small: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);

  /* Font Weight */
  --font-weight-*: initial;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Breakpoints */
  --breakpoint-tablet: 48rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --breakpoint-wide: 96rem;

  /* Container */
  --container-small: 48rem;
  --container-medium: 64rem;
  --container-large: 80rem;
  --container-x-large: 96rem;
}

@utility container {
  @apply mx-auto px-6;

  @variant tablet {
    @apply max-w-(--container-small) px-8;
  }

  @variant laptop {
    @apply max-w-(--container-medium) px-0;
  }

  @variant desktop {
    @apply max-w-(--container-large) px-0;
  }

  @variant wide {
    @apply max-w-(--container-x-large) px-0;
  }
}

@layer base {
  body {
    @apply bg-light-clr font-pp-neue-montreal font-regular text-text-default-clr overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semi-bold;
  }
}

@layer utilities {
  .heading-x-large {
    @apply text-heading-x-large leading-large font-medium;
  }

  .heading-large {
    @apply text-heading-large leading-large font-regular;
  }

  .heading-medium {
    @apply text-heading-medium leading-large font-regular;
  }

  .heading-small {
    @apply text-heading-small leading-large font-regular;
  }

  .heading-1 {
    @apply text-heading-1 leading-large font-regular;
  }

  .heading-2 {
    @apply text-heading-2 leading-large;
  }

  .heading-3 {
    @apply text-heading-3 leading-medium;
  }

  .heading-4 {
    @apply text-heading-4 leading-medium;
  }

  .heading-5 {
    @apply text-heading-5 leading-small;
  }

  .heading-6 {
    @apply text-heading-6 leading-small;
  }
}

@layer components {
  .visually-hidden {
    display: inline-block;
    position: absolute;

    height: 0.0625rem;
    width: 0.0625rem;

    border: 0;
    clip: rect(0 0 0 0);

    margin: -0.0625rem;
    padding: 0;

    overflow: hidden;
  }

  .responsive-flex {
    --min: 10ch;
    --gap: 2.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    & > * {
      flex: 1 1 var(--min);
    }
  }

  .footer-fluid-width {
    --max-width: 600px;

    width: min(100%, var(--max-width));
  }

  .join-bg-image {
    background-image: url('../../public/images/bike-img-2.jpg');
    background-size: cover;
    background-position: center center;
  }
}
